<div class="text-center">
<h1>This is a list of songs</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <% @songs.each do |song| %>
        <div class="song">
          <h3><a href="/songs/<%= song.id %>"><%= song.song_title %></a></h3>artist: <%= song.author %><p><a href="<%= song.url %>"><%= song.url %></small></a></p>upvotes: <%= song.upvotes.count %></p>
        </div>
      <% end %>
        <div>
          <a href="/songs/new"><button class="bth btn-primary">Post a song title just because you can</button></a>
        </div>
    </div>
  </div>
</div>

<div>


