<div class="row, jumbotron" style="padding: 10px 0 40px 0">
  <div class="col-md-2"><a href="/"><center>home</center></a></div>
  <div class="col-md-2"><a href="/songs"><center>songs</center></a></div>
  <div class="col-md-2"><a href="/songs/new"><center>add</center></a></div>
  <div class="col-md-2"><a href="/users/register"><center>register</center></a></div>
  <div class="col-md-2"><a href="/users/login"><center>login</center></a></div>
</div>

<p>
  Song: <%= @song.song_title %>
</p>

<p>
  <%= @song.author %>
</p>
<p>
  <a href="http://<%= @song.url %>"><%= @song.url %></a>
</p>
<p>
  <%= @song.created_at %>
</p>
<hr/>
<a href="/songs">Back to the song list.</a>
