<p>
  Song: <%= @song.song_title %>
</p>

<p>
  <%= @song.author %>
</p>
<p>
  <a href="http://<%= @song.url %>"><%= @song.url %></a>
</p>
<p>
  <%= @song.created_at %>
</p>
<p>
  upvotes: <%= @song.upvotes %>
</p>
<p>
<form action="/upvote" method="get">
  <input type="submit" value="upvotes">
</form>
</p>
<hr/>
<a href="/songs">Back to the song list.</a>
