<p>
  Song: <%= @song.song_title %>
</p>

<p>
  <%= @song.author %>
</p>
<p>
  <a href="http://<%= @song.url %>"><%= @song.url %></a>
</p>
<p>
  <%= @song.created_at %>
</p>
<p>
  uploaded by:
<p>
<p>
  upvotes: <%= @upvotes = Upvote.where(song_id: @song.id).count %>
</p>
<% if @user.nil? %>
<p>You can only vote if you are logged in.</p>
<% elsif Upvote.where(song_id: @song.id, user_id: @user.id).first %>
You have already voted
<% else %>
<form action="/upvote" method="post">
  <input type="hidden" name="id" value="<%= @song.id %>">
  <input type="submit" value="upvote">
</form>
<% end %>
<h3>Reviews</h3>
  <% @reviews.each do |review| %>
    <%= review.review %>
  <% end %>

<% if @user.nil? %>
  You need to be logged in
<% elsif Review.where(song_id: @song.id, user_id: @user.id).first %>
  You've already reveiwed this song
<% else %>
</p>
  <form action="/review" method="post">
    <div style="padding: 10px 0 10px 0">
      <input type="text" name="review" placeholder="write a review" class="text-center">
    </div>
    <div style="padding: 10px 0 10px 0">
      <input type="integer" name="rating" placeholder="rating" class="text-center">
    </div>
    <div>
      <input type="hidden" name="id" value="<%= @song.id %>">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </form>
<% end %>
<hr/>
<a href="/songs">Back to the song list.</a>
