<p>
  Song: <%= @song.song_title %>
</p>

<p>
  <%= @song.author %>
</p>
<p>
  <a href="http://<%= @song.url %>"><%= @song.url %></a>
</p>
<p>
  <%= @song.created_at %>
</p>
<p>
  upvotes: <%= Upvote.where(song_id: @song.id).count %>
</p>
<p>
<% if @user == nil %>
<p>You can only vote if you are logged in.</p>
<% elsif Upvote.where(song_id: @song.id, user_id: @user.id).first %>
You have already voted
<% else %>
<form action="/upvote" method="post">
  <input type="hidden" name="id" value="<%= @song.id %>">
  <input type="submit" value="upvote">
</form>
<% end %>
</p>
<hr/>
<a href="/songs">Back to the song list.</a>
